<!DOCTYPE html>
<html>

<head>
    <title>ChatApp</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <%/* If you want to discourage search engines from indexing this site,
    uncomment the following line: */%>
        <%/*
    <meta name="robots" content="noindex" />
    */%>
            <style type="text/css">
                /* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
                
                .messagesContainer::-webkit-scrollbar {
                    -webkit-appearance: none;
                }
                
                .messagesContainer::-webkit-scrollbar:vertical {
                    width: 10px;
                }
                
                .messagesContainer::-webkit-scrollbar-button:increment,
                .messagesContainer::-webkit-scrollbar-button {
                    display: none;
                }
                
                .messagesContainer::-webkit-scrollbar:horizontal {
                    height: 10px;
                }
                
                .messagesContainer::-webkit-scrollbar-thumb {
                    background-color: #797979;
                    border-radius: 20px;
                    border: 2px solid #f1f2f3;
                }
                
                .messagesContainer::-webkit-scrollbar-track {
                    border-radius: 10px;
                }
                
                body {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100vh;
                    background-color: #13262f;
                    font-family: "Oswald", sans-serif;
                }
                
                .contenedo_msj {
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    width: 300px;
                }
                
                .contenedo_msj .mensaje-izq,
                .contenedo_msj .mensaje-der {
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                    margin-bottom: 0.75rem;
                }
                
                .contenedo_msj .mensaje-der {
                    -webkit-flex-direction: row-reverse;
                    -ms-flex-direction: row-reverse;
                    -o-flex-direction: row-reverse;
                    flex-direction: row-reverse;
                }
                
                .contenedo_msj .mensaje-izq .avatar,
                .contenedo_msj .mensaje-der .avatar {
                    display: block;
                    background-color: #e8ecf1;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    overflow: hidden;
                    border: 3px solid #fff;
                    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
                }
                
                .mensaje-izq .cuerpo_msj,
                .mensaje-der .cuerpo_msj {
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    -o-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-flex-direction: column;
                    flex-direction: column;
                    margin-left: 20px;
                    width: calc(100% - 50px - 20px);
                    position: relative;
                }
                
                .contenedo_msj .mensaje-izq .cuerpo_msj {
                    -ms-align-items: flex-start;
                    align-items: flex-start;
                }
                
                .contenedo_msj .mensaje-der .cuerpo_msj {
                    -ms-align-items: flex-end;
                    align-items: flex-end;
                }
                
                .mensaje-der .cuerpo_msj {
                    margin-right: 20px;
                    margin-left: 0;
                }
                
                .mensaje-izq .cuerpo_msj .msj-texto,
                .mensaje-der .cuerpo_msj .msj-texto {
                    padding: 10px;
                    font-size: 0.8em;
                    background-color: #e8ecf1;
                    border-radius: 0.5rem;
                    margin-bottom: 0.25rem;
                }
                
                .mensaje-der .cuerpo_msj .msj-texto {
                    background-color: #dcebff;
                }
                
                .mensaje-izq .cuerpo_msj .tiempo,
                .mensaje-der .cuerpo_msj .tiempo {
                    font-size: 0.75em;
                    color: #929292;
                    display: inline-block;
                    padding: 0 5px;
                }
                
                .mensaje-izq .cuerpo_msj .tiempo i,
                .mensaje-der .cuerpo_msj .tiempo i {
                    margin-right: 0.5rem;
                }
                
                .mensaje-izq .cuerpo_msj:before,
                .mensaje-der .cuerpo_msj:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-color: transparent;
                    border-width: 13px 13px 13px 13px;
                    top: 5px;
                }
                
                .mensaje-izq .cuerpo_msj:before {
                    border-right-color: #00838f;
                    left: -25px;
                }
                
                .mensaje-der .cuerpo_msj:before {
                    border-left-color: #00838f;
                    right: -25px;
                }
            </style>
            <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

            <!--STYLES-->
            <link rel="stylesheet" href="/min/production.min.css">
            <!--STYLES END-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>

            <!-- Compiled and minified CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

            <!-- Compiled and minified JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

            <!-- google fonts -->
            <link rel="preconnect" href="https://fonts.gstatic.com" />
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet" />
</head>

<body>
    <%- body %>

        <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like React, Vue.js, Angular, Ember, and Backbone
        require that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different view engine (handlebars, dust, pug/jade, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

        <!--TEMPLATES-->
        <!--TEMPLATES END-->

        <!--
        Server-side View Locals
        ========================

        Sometimes, it's convenient to get access to your server-side view locals from
        client-side JavaScript.  This can improve page load times, remove the need for
        extra AJAX requests, and make your client-side code easier to understand and
        to maintain.  Sails provides a simple mechanism for accessing dynamic view
        locals: the "exposeLocalsToBrowser()" view partial.

        For more information on using this built-in feature, see:
        https://sailsjs.com/docs/concepts/views/locals#?escaping-untrusted-data-using-exposelocalstobrowser

    -->

        <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

        <!--SCRIPTS-->
        <script src="/min/production.min.js"></script>
        <!--SCRIPTS END-->
</body>

</html>